/*  fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Prompt:ital@1&family=Titillium+Web:ital,wght@1,300&display=swap');
/* common styles */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FFFFFF;
}


.anchor-button{
    text-decoration: none;
    background: green;
    border-radius: 5px;
    padding: 10px 40px;
    color: rgb(200, 241, 13);
}
.earth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    padding-bottom: 20px;
}
.container{
    background-color: lightgreen;
    border-radius: 10px;
    padding-right: 20px;
    height: 400px;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 900px;
}
.half-width{
    width:50%;
    margin-left: 7%;
    padding-left: 3%;
}